@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import "button.scss";

body {
  margin: 0px;
}

.app {
  display: grid;
  grid-template-columns: 10em;
  justify-content: center;
  grid-column-gap: 2em;
}
